.sh-p {
    &1 {
        font-size: 14px;
        line-height: 21px;

        @media (min-width: 770px) {
            font-size: 16px;
            line-height: 1.5;
        }
    }

    &1_col {
        font-size: 12px;
        line-height: 18px;

        @media (min-width: 770px) {
            font-size: 16px;
            line-height: 1.5;
        }
    }

    &2 {
        font-size: 12px;
        line-height: 1.5;

        @media (min-width: 770px) {
            font-size: 13px;
            line-height: 19px;
        }
    }

    &3 {
        font-size: 11px;
        line-height: 17px;

        @media (min-width: 770px) {
            font-size: 14px;
            line-height: 21px;
        }
    }
}